<nav>
    <div class="menu">
        <div class="logo">
            <a href="#">CodingLab</a>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="https://expressjs.com/en/4x/api.html#app.get" target="_blank">{{Feedback}}</a></li>
        </ul>
    </div>
</nav>